body {
    background-color: #ffebcd;
}

/* form border styling */
form {
    border: 5px solid black;
}

/* form title styling */
.sorting-form-title-container {
    display: flexbox;
}

.sorting-form-title {
    width: 100%;
    text-align: center;
}

/* display classes for hiding form */
.hide {
    display: none;
}

/* Card image styling for consistency of height */
.card-img-top {
    height: 300px;
}