body {
    background-color: #ffebcd;
}

/* form border styling */
form {
    border: 5px solid black;
}

/* form title styling */
.sorting-form-title-container {
    display: flexbox;
}

.sorting-form-title {
    width: 100%;
    text-align: center;
}

/* visibility classes styling for displaying or hiding form */
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* Card image styling for consistency of height */
.card-img-top {
    height: 300px;
}