body {
    background-color: blue;
}
.sorting-form-title-container {
    display: flexbox;
}

.sorting-form-title {
    width: 100%;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.card-img-top {
    height: 300px;
}